{% extends 'base.html' %}

{% block content %}
{% load static %}

<main class="flex-shrink-0">

<!-- Header-->

 <!-- Blog preview section-->
 <section>
    <div class="container px-5">
        <div class="row gx-5">
            {% for project in posts %}

            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                   <!---- {% if project.projectlogo %}
                    <img class="card-img-top" src="{{ project.projectlogo.url }}" alt="..." />
                    {% endif %}-->
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" href="{% url 'project' project_id=project.id %}">{{ project.leadorganisations }}   </div>
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'project' project_id=project.id %}"><div class="h5 card-title mb-3">{{ project.projectname}}</div></a>
                        <p class="card-text mb-0">{{ project.projectsummary|slice:":150"  }}</p>
                    </div>
                    <div class="p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div> <a class="text-decoration-none" href="#!">
                                        Learn More 
                                        <i class="bi bi-arrow-right"></i>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">{{ project.owner }}</div>
                                    <div class="text-muted">{{ project.created_time }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% include "pagination.html" with page=posts %}
    </div>
</section>
{% endblock %}