{% extends 'sidebarbase.html' %}

{% block content %}
{% load crispy_forms_tags %}

          <!-- Begin Page Content -->
          <div class="container-fluid" >
          
            <div class="row">

              <!-- Content Column -->
              <div class="">
                
                  <!-- Illustrations -->
                  <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h1 class="h3 mb-0 text-gray-800 font-weight-bold text-primary">SUBMIT A RESEARCH  </h1>
                      </div>
                      <div class="card-body">
                         
                     
          <p class="mb-4">
            Discover research programmes that look into Water Sensitive Design in South Africa. Find out about their design and implementation. Learn from their insights and recommendations.            </p>


          <!-- Content Row -->
          <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}

              <div class="form-row">
                <div class="col">
                  <div   >
                    {{ form.title|as_crispy_field }}

                    </div>
                </div>
                <div class="col">
                  <div   >
                    {{ form.leadresearcher|as_crispy_field }}

                    </div>                  </div>
              </div>
              <br>
              <div class="form-row">
                <div class="col dropdown">
                  <div   >
                    {{ form.publisher|as_crispy_field }}

                    </div>
                </div>
                <div class="col">
                  <div   >
                    {{ form.city|as_crispy_field }}

                    </div>
                </div>
              </div> 
            <br>
                      <div   >
                      {{ form.researchfile|as_crispy_field }}
 
                      </div>
            <br>
                      <div   >
                      {{ form.startdate|as_crispy_field }}
 
                      </div>
            <br>
                <Label class="mb-0 text-gray-800" >Duration</Label> 

              <div class="form-row">
                <br>
                <div class="col">
                  <input class="date-picker form-control border-left-info" placeholder="Start date" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                  <script>
                    function timeFunctionLong(input) {
                        setTimeout(function() {
                            input.type = 'text';
                        }, 60000);
                    }
                </script>
                </div>
                <div class="col">
                  <input class="date-picker form-control border-left-info" placeholder="End date" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                  <script>
                    function timeFunctionLong(input) {
                        setTimeout(function() {
                            input.type = 'text';
                        }, 60000);
                    }
                </script>
                </div>
              </div>
              <br>
                <div class="form-outline">
                    </div>
                <br>
                
                <div class="form-outline">
                  <div   >
                    {{ form.description|as_crispy_field }}

                    </div>                   </div>
                    <br>
                <div class="form-outline">
                  <div   >
                    {{ form.collab|as_crispy_field }}

                    </div>                   </div>
                <br>
                <div class="form-outline">
                  <div   >
                    {{ form.funding|as_crispy_field }}

                    </div>                   </div>
                <br>
                <div class="form-row">
                  <div class="col dropdown">
                    <div   >
                      {{ form.website|as_crispy_field }}
 
                      </div>
                  </div>
                  <div class="col">
                    <div   >
                      {{ form.email|as_crispy_field }}
 
                      </div>
                  </div>
                </div> 
                  <br>
                <button type="submit" class="btn btn-primary ">
                  Send
                </button>
            </form>
            <br>

         
                          
          
          
          
          
                      </div>
                  </div>
                </div>
              </div>
            </div>

           

        <!-- /.container-fluid -->
        <!-- Scroll to Top Button-->

{% endblock %}